body {
	font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
label,
footer {
	color: $primaryFontColor;
	font-weight: bold;
}

a {
    color: $primaryFontColor;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 3.9rem;
}

h3, p, .dropdown-content {
    font-size: 1.8rem;
}

nav {
    font-size: 2rem;
}

.mainHeading h3 {
    color: $secondaryFontColor;
}

.about h3 {
    font-size: 3.1rem;
}

.projects h3,
.education h3
.experience h3 {
    font-size: 2rem;
}

.fullTime {
    font-size: 1.6rem;
}

h4,
p {
	color: $secondaryFontColor;
}

h4 {
    font-weight: 600;
    font-size: 1.6rem;
}

input, textarea, label {
    font-size: 1.6rem;
    color: black;
}